.lang-select li {
  cursor: pointer;
  display: none;
}

.lang-select li.active {
  display: unset;
}

.searchbar-container {
  cursor: pointer;
}

.searchbar-container .searchbar-input-container {
  display: none;
}

.searchbar-container.active .searchbar-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.header-container {
  width: 100%;
  height: 133px;
  z-index: 5;
  background-color: #111111;
}

@media screen and (min-width: 1025px) {
  .header-container {
    height: 123px;
  }
}

.header-container.scrolled-one {
  display: none;
  color: #fff;
  position: fixed;
}

@media screen and (min-width: 1025px) {
  .header-container.scrolled-one.scrolled {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.home-header .header-container {
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1025px) {
  .home-header .header-container {
    position: -webkit-sticky;
    position: sticky;
  }
}

.home-header .header-container.scrolled {
  padding: 0;
  height: 103px;
  position: fixed;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
}

@media screen and (min-width: 1025px) {
  header {
    font-size: 12px;
  }
}

@media screen and (min-width: 1441px) {
  header {
    font-size: 16px;
  }
}

header li:active {
  color: #20CF8B;
}

@media screen and (min-width: 1025px) {
  header li:hover {
    color: #20CF8B;
  }
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

*:not(.header-right-login):active > .svg path {
  stroke: #20CF8B;
}

@media screen and (min-width: 1025px) {
  *:not(.header-right-login):hover > .svg path {
    stroke: #20CF8B;
  }
}

.nav-ul-li-home:active svg path {
  fill: #20CF8B !important;
}

@media screen and (min-width: 1025px) {
  .nav-ul-li-home:hover svg path {
    fill: #20CF8B !important;
  }
}

.header-left, .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-left .header-logo {
  margin-right: 4.375rem;
}

.header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left ul li:not(:last-child) {
  margin-right: 3.25rem;
}

.header-left ul li.nav-ul-li-home {
  margin-right: 4.375rem;
}

.header-left ul li.active {
  position: relative;
}

.header-left ul li.active::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -24px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .header-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
    grid-column-gap: 2.5rem;
  }
}

.header-right-bag, .header-right-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right-login {
  cursor: pointer;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.header-right-login path {
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.header-right-login:active {
  color: #20CF8B;
}

.header-right-login:active path {
  fill: #20CF8B !important;
}

.header-right-login:hover {
  color: #20CF8B;
}

@media screen and (min-width: 1025px) {
  .header-right-login:hover path {
    fill: #20CF8B !important;
  }
}

.bag-svg, .profile-svg, .searchbar-svg {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .header-left > *:not(.header-logo) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-right > *:not(.lang-select) {
    display: none;
  }
}

.header-right-hr {
  height: 25px;
  width: 1px;
  opacity: .5;
  border-radius: 2px;
  background-color: #fff;
}
/*# sourceMappingURL=header.css.map */