/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.home-header {
  position: relative;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111111;
  overflow: hidden;
  margin-bottom: 40px;
}

@media screen and (min-width: 1025px) {
  .home-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 14.5rem;
    padding-left: 15.75rem;
  }
}

.home-header > * {
  max-height: 100vh;
}

@media screen and (max-width: 1024px) {
  .home-header > div:not(.mid):not(.header-burgerMenu) {
    display: none !important;
  }
}

.mid {
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .mid {
    height: 100%;
    max-width: 90.375rem;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.mid.scrolled {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: none;
          transform: none;
}

.mid-container {
  height: 100%;
  font-size: 80%;
  padding: 0 15px;
}

@media screen and (min-width: 1025px) {
  .mid-container {
    padding: unset;
    margin-right: 12.5em;
  }
}

@media screen and (min-width: 1800px) {
  .mid-container {
    margin-right: 18.75rem;
  }
}

.moveX-content {
  position: relative !important;
}

@media screen and (min-width: 1025px) {
  .moveX-content {
    -webkit-transition: left .8s ease-out !important;
    transition: left .8s ease-out !important;
    left: 0;
  }
  .moveX-content.left {
    left: 29.1875rem;
  }
  .moveX-content.right {
    left: -37.125rem;
  }
}

.home-header-realContent {
  margin: 0 auto;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-auto-rows: calc( 100vh - 7.6875rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  margin-top: 133px;
}

@media screen and (min-width: 1025px) {
  .home-header-realContent {
    grid-gap: 6rem;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    display: -ms-grid;
    display: grid;
    font-size: 0.8125rem;
    margin-top: -7.6875rem;
    padding-top: 7.7875rem;
  }
}

@media screen and (min-width: 1441px) {
  .home-header-realContent {
    -ms-grid-columns: minmax(auto, 40%) minmax(1fr, 60%);
        grid-template-columns: minmax(auto, 40%) minmax(1fr, 60%);
  }
}

.home-header-realContent h1 {
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 11px;
}

@media screen and (min-width: 1025px) {
  .home-header-realContent h1 {
    font-size: 4rem;
    line-height: 4.5rem;
    margin-bottom: 2.75rem;
    min-height: 174px;
  }
}

.home-header-realContent .realContent-textdiv {
  font-size: 12px;
  line-height: 18px;
  font-family: rmn;
}

@media screen and (min-width: 1025px) {
  .home-header-realContent .realContent-textdiv {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5.625rem;
  }
}

.home-header-realContent .realContent-see-more {
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 1rem;
  line-height: 1.125rem;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.3125rem;
  border-radius: 0.75rem;
  background-color: #20CF8B;
  height: 3.5rem;
  overflow: hidden;
  -webkit-transition: background-color .3s ease-out, -webkit-transform .3s ease out;
  transition: background-color .3s ease-out, -webkit-transform .3s ease out;
  transition: transform .3s ease out, background-color .3s ease-out;
  transition: transform .3s ease out, background-color .3s ease-out, -webkit-transform .3s ease out;
}

@media screen and (min-width: 1025px) {
  .home-header-realContent .realContent-see-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-header-realContent .realContent-see-more:hover {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    background-color: #F2A928;
  }
}

.home-header-realContent .realContent-see-more::after {
  position: absolute;
  content: url(../images/canabis.svg);
  right: -25.8992px;
  top: 0.1062rem;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.realContent-left {
  position: relative;
  width: 100%;
  height: 202px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1025px) {
  .realContent-left {
    max-width: 28.4375rem;
    min-width: 28.4375rem;
    margin-right: 1.25rem;
    padding-bottom: 8.5rem;
    height: 100%;
  }
}

.realContent-right {
  justify-self: flex-start;
  border-radius: 50%;
  height: 200px;
  width: 100%;
  position: relative;
}

@media screen and (min-width: 1025px) {
  .realContent-right {
    background-color: #20CF8B;
    width: unset;
    max-width: 100vw;
    height: unset;
    max-width: unset;
    width: calc( 100% - 7.75rem);
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (min-width: 1441px) {
  .realContent-right {
    font-size: 1rem;
    width: 100%;
    max-height: 815px;
    max-width: 815px;
  }
}

.realContent-right::before {
  position: absolute;
  right: 50%;
  bottom: 50%;
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/canabis.svg);
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  z-index: 2;
  display: none;
  height: 50%;
  width: 50%;
}

@media screen and (min-width: 1025px) {
  .realContent-right::before {
    display: block;
  }
}

.realContent-right::after {
  content: '';
  display: none;
  border-radius: 50%;
  padding-bottom: 100%;
}

@media screen and (min-width: 1025px) {
  .realContent-right::after {
    display: block;
  }
}

.realContent-right .realContent-right-imageBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realContent-right .realContent-right-imageBox .inner-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.realContent-right .realContent-right-imageBox .swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realContent-right .realContent-right-imageBox img {
  height: 200px;
  max-height: 27.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
  cursor: pointer;
}

@media screen and (min-width: 1025px) {
  .realContent-right .realContent-right-imageBox img {
    height: calc(440 / 815 * 100%);
  }
}

.realContent-right .realContent-right-imageBox img.swiper-slide-active {
  opacity: 1;
}

.swiper-navigation-pagination {
  position: absolute;
  top: calc(100% + 1.25rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 18px;
  grid-column-gap: 50px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  width: 100%;
}

@media screen and (min-width: 1025px) {
  .swiper-navigation-pagination {
    top: calc(100% + 3.25rem);
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.swiper-navigation-pagination .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 104px;
}

.swiper-next, .swiper-prev {
  cursor: pointer;
  display: none !important;
}

@media screen and (min-width: 1025px) {
  .swiper-next, .swiper-prev {
    display: block !important;
  }
}

.swiper-next:hover, .swiper-prev:hover {
  color: #20CF8B;
}

.swiper-prev {
  justify-self: flex-end;
}

.swiper-pagination-bullet {
  height: 5px;
  display: block;
  background-color: #20CF8B;
  width: 22px;
  opacity: .1;
  margin: 0 4px;
  border-radius: 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 44px;
  max-width: 44px;
  opacity: 1;
}

.header-burgerMenu {
  position: fixed;
  top: 0;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 6.3125rem;
  margin-right: 9.4375rem;
  z-index: 21;
  overflow: hidden;
}

@media screen and (min-width: 1025px) {
  .header-burgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: unset;
  }
}

.burger-icon-container {
  max-width: 102px;
  min-width: 6.3125rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.0625rem solid #232323;
  position: relative;
  z-index: 1;
}

.burger-icon {
  width: 0.75rem;
  height: 2rem;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  cursor: pointer;
}

.burger-icon span {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 0.125rem;
  height: 2rem;
  border-radius: 0.125rem;
  background-color: #fff;
  -webkit-transition: left .3s .3s, -webkit-transform .3s ease-in-out;
  transition: left .3s .3s, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, left .3s .3s;
  transition: transform .3s ease-in-out, left .3s .3s, -webkit-transform .3s ease-in-out;
}

.burger-icon span:first-child {
  left: 0;
}

.burger-icon span:last-child {
  left: calc( 100% - 0.0625rem);
}

.header-burgerMenu.active .burger-icon span {
  left: calc(50% - 0.0625rem) !important;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.header-burgerMenu.active .burger-icon span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-burgerMenu.active .burger-icon span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-categories {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  -webkit-transform: none !important;
          transform: none !important;
  padding-left: 15.75rem;
  width: 22.875rem;
  height: 100vh;
  -webkit-transition: right 1.2s ease-out;
  transition: right 1.2s ease-out;
}

.burger-cat-ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 11.25rem;
  position: relative;
}

.burger-categories li {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: #909090;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.burger-categories li:not(:last-of-type) {
  margin-bottom: 1.625rem;
}

.burger-categories li a {
  white-space: nowrap;
}

.burger-categories li.active, .burger-categories li:active, .burger-categories li:hover {
  color: #fff;
}

.burger-categories li:nth-of-type(2) {
  -webkit-transition-delay: calc(.18s - .18s);
          transition-delay: calc(.18s - .18s);
}

.burger-categories li:nth-of-type(3) {
  -webkit-transition-delay: calc(.25s - .18s);
          transition-delay: calc(.25s - .18s);
}

.burger-categories li:nth-of-type(4) {
  -webkit-transition-delay: calc(.3s - .18s);
          transition-delay: calc(.3s - .18s);
}

.burger-categories li:nth-of-type(5) {
  -webkit-transition-delay: calc(.35s - .18s);
          transition-delay: calc(.35s - .18s);
}

.burger-categories li:nth-of-type(6) {
  -webkit-transition-delay: calc(.39s - .18s);
          transition-delay: calc(.39s - .18s);
}

.burger-categories li:nth-of-type(7) {
  -webkit-transition-delay: calc(.45s - .18s);
          transition-delay: calc(.45s - .18s);
}

.burger-categories li:nth-of-type(8) {
  -webkit-transition-delay: calc(.48s - .18s);
          transition-delay: calc(.48s - .18s);
}

.burger-categories li:nth-of-type(9) {
  -webkit-transition-delay: calc(.51s - .18s);
          transition-delay: calc(.51s - .18s);
}

.burger-categories li:nth-of-type(10) {
  -webkit-transition-delay: calc(.73s - .18s);
          transition-delay: calc(.73s - .18s);
}

.burger-categories li:nth-of-type(11) {
  -webkit-transition-delay: calc(.77s - .18s);
          transition-delay: calc(.77s - .18s);
}

.burger-categories li:nth-of-type(12) {
  -webkit-transition-delay: calc(.81s - .18s);
          transition-delay: calc(.81s - .18s);
}

.burger-categories li:nth-of-type(13) {
  -webkit-transition-delay: calc(.84s - .18s);
          transition-delay: calc(.84s - .18s);
}

.burger-categories li:nth-of-type(14) {
  -webkit-transition-delay: calc(.88s - .18s);
          transition-delay: calc(.88s - .18s);
}

.burger-categories li:nth-of-type(15) {
  -webkit-transition-delay: calc(.92s - .18s);
          transition-delay: calc(.92s - .18s);
}

.whole-nav-menu.left .burger-categories .burger-cat-ul li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.whole-nav-menu.left .burger-categories:nth-of-type(15) {
  -webkit-transition-delay: calc(.18s - .18s);
          transition-delay: calc(.18s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(14) {
  -webkit-transition-delay: calc(.25s - .18s);
          transition-delay: calc(.25s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(13) {
  -webkit-transition-delay: calc(.3s - .18s);
          transition-delay: calc(.3s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(12) {
  -webkit-transition-delay: calc(.35s - .18s);
          transition-delay: calc(.35s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(11) {
  -webkit-transition-delay: calc(.39s - .18s);
          transition-delay: calc(.39s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(10) {
  -webkit-transition-delay: calc(.45s - .18s);
          transition-delay: calc(.45s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(9) {
  -webkit-transition-delay: calc(.48s - .18s);
          transition-delay: calc(.48s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(8) {
  -webkit-transition-delay: calc(.51s - .18s);
          transition-delay: calc(.51s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(7) {
  -webkit-transition-delay: calc(.73s - .18s);
          transition-delay: calc(.73s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(6) {
  -webkit-transition-delay: calc(.77s - .18s);
          transition-delay: calc(.77s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(5) {
  -webkit-transition-delay: calc(.81s - .18s);
          transition-delay: calc(.81s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(4) {
  -webkit-transition-delay: calc(.84s - .18s);
          transition-delay: calc(.84s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(3) {
  -webkit-transition-delay: calc(.88s - .18s);
          transition-delay: calc(.88s - .18s);
}

.whole-nav-menu.left .burger-categories:nth-of-type(2) {
  -webkit-transition-delay: calc(.92s - .18s);
          transition-delay: calc(.92s - .18s);
}

.realContent-left {
  height: 202px !important;
}

@media screen and (min-width: 1025px) {
  .realContent-left {
    height: 400px !important;
  }
}

@media screen and (min-width: 1441px) {
  .realContent-left {
    height: 418px !important;
  }
}

.text-content {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 20px;
}

@media screen and (min-width: 1025px) {
  .text-content {
    position: absolute;
    left: 0;
    top: 4.5rem;
  }
}

.text-content a {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0;
  transition: 0;
}

.text-content h1, .text-content .realContent-textdiv {
  opacity: 0 !important;
  -webkit-transition: opacity .8s ease-in-out, -webkit-transform .8s ease-in-out;
  transition: opacity .8s ease-in-out, -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out, opacity .8s ease-in-out;
  transition: transform .8s ease-in-out, opacity .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.text-content.prev-slide h1, .text-content.prev-slide .realContent-textdiv {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.text-content.next-slide h1, .text-content.next-slide .realContent-textdiv {
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.text-content.active {
  z-index: 2;
}

.text-content.active h1, .text-content.active .realContent-textdiv {
  opacity: 1 !important;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-content.active a {
  opacity: 1;
}

.scroll-down-yeah {
  position: absolute;
  top: calc(100vh - 66px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1025px) {
  .scroll-down-yeah {
    top: calc(100vh - 6.625rem);
    width: unset;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.scroll-down-yeah p {
  display: none;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (min-width: 1025px) {
  .scroll-down-yeah p {
    display: block;
  }
}

.scroll-down-yeah p span {
  color: #20CF8B;
}

.scroll-bot-svg {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(32, 207, 139, 0.1);
}

@media screen and (min-width: 1025px) {
  .scroll-bot-svg {
    margin-right: 15px;
  }
}

.home-page .home-header-authorization {
  height: calc(100vh - 243px);
  top: 133px;
}

@media screen and (min-width: 1025px) {
  .home-page .home-header-authorization {
    height: 100vh;
    top: 0;
  }
}

.home-header-authorization {
  overflow-y: auto;
  height: calc(100vh - 213px);
  padding: 37px 15px 39px 15px;
  width: 100vw;
  color: #111111;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 100%;
  top: 103px;
  z-index: 20;
  -webkit-transition: all .8s ease-out;
  transition: all .8s ease-out;
}

@media screen and (min-width: 1025px) {
  .home-header-authorization {
    background-color: #111111;
    padding-top: 62px;
    padding-left: 7.5rem;
    color: #fff;
    top: 0;
    width: 37.125rem;
    height: 100vh;
  }
}

.home-header-authorization.right {
  left: 0;
}

@media screen and (min-width: 1025px) {
  .home-header-authorization.right {
    left: calc( 100% - 37.125rem);
  }
}

.minimize-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  border: 1px solid #303030;
  position: absolute;
  right: 15px;
}

@media screen and (min-width: 1025px) {
  .minimize-svg {
    position: static;
    width: 56px;
    height: 56px;
    -webkit-transform: none;
            transform: none;
    margin-bottom: 4.75rem;
  }
}

.minimize-svg svg {
  width: 1rem;
  height: 1rem;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media screen and (min-width: 1025px) {
  .minimize-svg svg {
    -webkit-transform: none;
            transform: none;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.minimize-svg svg path {
  fill: #111;
}

@media screen and (min-width: 1025px) {
  .minimize-svg svg path {
    fill: #fff;
  }
}

.switch-to-register {
  display: block;
  margin-top: 2.5rem;
  text-align: center;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.hard-form {
  height: 100% !important;
}

@media screen and (min-width: 1025px) {
  .hard-form {
    padding-bottom: 30px;
    padding-right: 20px;
  }
}

.home-header-forms-combiner {
  width: 100%;
  height: 100% !important;
}

@media screen and (min-width: 1025px) {
  .home-header-forms-combiner {
    overflow: auto;
    max-width: 22.25rem;
  }
}

.home-header-forms-combiner form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
}

.home-header-forms-combiner h2 {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 38px;
}

@media screen and (min-width: 1025px) {
  .home-header-forms-combiner h2 {
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 1.75rem;
  }
}

.home-header-forms-combiner button {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  border-radius: 12px;
  width: 100%;
  min-height: 56px;
  background-color: #20CF8B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 200;
  cursor: pointer;
  color: #fff;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
}

.home-header-forms-combiner button::after {
  position: absolute;
  content: url(../images/canabis.svg);
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  right: -25.8992px;
  top: 1.6992px;
  z-index: 201;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 73.27px;
  height: 74.58px;
}

.home-header-forms-combiner .home-header-register {
  display: none;
}

.home-header-forms-combiner.register .home-header-login {
  display: none;
}

.home-header-forms-combiner.register .home-header-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-div:not(.radio-input) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1.875rem;
}

.input-div:not(.radio-input) label {
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 1rem;
  line-height: 1.125rem;
  margin-bottom: 1rem;
}

.input-div:not(.radio-input) input, .input-div:not(.radio-input) textarea {
  border-radius: 12px;
  height: 56px;
  padding: 1.25rem;
  padding-right: 56px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  text-transform: lowercase !important;
  color: #111111;
  background-color: #fff;
}

.input-div:not(.radio-input) .input-error-qstmark {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #F2A928;
  color: #111111;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 18px;
}

.input-div:not(.radio-input).invalid.invalid-shown .input-error-qstmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=home-header.css.map */