@import fonts
@import variables
@import defaults

// components
@import header
@import home-header
@import home
@import footer
@import respo-menu
@import aboutus-page
@import contact
@import productin

// min-height: calc( 100vh - 591px )    
// @include plus1025()
//     padding: 67px 0
//     min-height: calc( 100vh - 342px )

// products-page
.products-main
    display: flex
    &__left
        width: 335px
        padding: 40px
        border-radius: 12px
        background-color: #fff
        &__categories
            width: 100%
            
    &__right
        flex-grow: 1

.products-ul
    width: 100%
    display: block
    &__li
        max-height: 21px
        overflow: hidden
        white-space: nowrap
        @include upperCase(true)
        font-size: 16px
        line-height: 18px
        transition: max-height -200ms 300ms ease-out
        &:not(:last-of-type)
            margin-bottom: 28px
        &.active
            max-height: 9999px
            transition: max-height 400ms ease-in
            .products-a-outter
                color: $cyan
                &::after
                    transform: rotate(-180deg)
.products-a-outter
    position: relative
    margin-bottom: 19px
    display: block
    &::after
        content: url(../images/products-cat-down.svg)
        position: absolute
        right: 0
        transition: transform .2s ease-out

.products-li-inside-ul
    display: block
    padding-left: 10px
    li 
        display: block
        &:not(:last-of-type)
            margin-bottom: 16px
        a
            font-family: rmn
            font-size: 16px
            line-height: 18px
            display: block
            text-transform: none !important

            &.active, &:active
                color: $cyan
            &:hover
                @include plus1025()
                    color: $cyan