@import fonts
@import variables
@import defaults

// components
@import header
@import home-header
@import home
@import footer
@import respo-menu
@import aboutus-page
@import contact
@import productin
@import products
@import cart
@import history-orders
@import sidebars
@import profile
@import recovery
@import rules



// min-height: calc( 100vh - 591px )    
// @include plus1025()
//     padding: 67px 0
//     min-height: calc( 100vh - 342px )
header 
    position: relative
.searchbar-shown
    position: absolute
    right: 0
    display: flex
    top: 70%
    z-index: -1
    opacity: 0

    padding-left: calc( 105px + 4.375rem )
    padding-right: 10px

    width: 100%
    height: 0

    transition: top .4s ease-in, opacity .2s ease-in

    &.srch-on
        height: 100%
        opacity: 1
        top: 0
        z-index: 1

    &__inside
        height: 100%
        width: 100%

        display: flex
        align-items: center
        justify-content: space-between
.header-right
    position: relative
    z-index: 1

.header-right > *:not(.searchbar-container), .header-left > *:not(.header-logo)
    bottom: 0
    position: relative
    opacity: 1
    transition: bottom .5s ease-in, left .2s ease-in, opacity .6s ease-in
.header-right.srch-on > *:not(.searchbar-container), .header-left.srch-on > *:not(.header-logo)
    bottom: 100%
    position: relative
    opacity: 0
    transition: bottom .4s ease-in, left .2s ease-in, opacity .2s ease-in
.header-right
    .searchbar-container
        position: relative
        left: 0
        transition: left .2s ease-in
        
.header-right.srch-on
    .searchbar-container
        left: 178px
        z-index: 10
        position: relative

.searchbar-svg
    &__X
        cursor: pointer
        display: flex
        align-items: center
        padding: 10px
.searchbar-input-container
    width: 50%
    input
        width: 100%
        @include upperCase(true)
        color: #fff
        font-size: 16px
        line-height: 18px
        
.respo-menu-ul li:not(.respo-search-li)
    &.vanished
        display: none !important
// respo search
.respo-search-li
    display: flex
    align-items: center
    justify-content: space-between
    
    &__searchform
        flex-grow: 1
        display: none
        justify-content: space-between
        align-items: center
        input
            flex-grow: 1
            margin-left: 20px
            margin-right: 15px
            font-size: 12px
            line-height: 14px
            @include upperCase(true)
            
    &.respo-srch-on
        width: 100%
        a
            display: none
        .respo-search-li__searchform
            display: flex 
.respo-search-li__searchform__X
    cursor: pointer



// fix home-header animtion
.home-header.work-with
    @include plus1025()
        transition: height 0s
        position: fixed
        top: 0
        &.scrolled

.mid-container
    @include plus1025()
        position: relative !important

.header-burgerMenu
    @include plus1025()        
        top: 0
        position: fixed !important
        transition: none !important


.contact-input-div-textarea
    .input-error-qstmark
        bottom: calc( 100% + 1rem ) !important
// .input-left, .input-right
//     cursor: pointer !