@font-face {
  font-family: mtavruli;
  src: url(../fonts/MyriadGEOMtavruliMedium.ttf);
}

@font-face {
  font-family: lght;
  src: url(../fonts/45-Light.ttf);
}

@font-face {
  font-family: rmn;
  src: url(../fonts/55-Roman.ttf);
}

@font-face {
  font-family: bld;
  src: url(../fonts/75-Bold.ttf);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  resize: none;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

a, input, textarea {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul li {
  list-style-position: inside;
  list-style: none;
}

div.default-ul p:not(:last-child) {
  margin-bottom: 1em;
}

div.default-ul ul li {
  list-style: initial;
  list-style-position: inside;
}

@media screen and (min-width: 1025px) {
  html::-webkit-scrollbar {
    width: 10px;
    background-color: #F2F2F2;
  }
}

@media screen and (min-width: 1025px) {
  html::-webkit-scrollbar-thumb {
    background-color: #20CF8B;
  }
}

@media screen and (min-width: 1025px) {
  html::-webkit-scrollbar-track {
    background-color: #F2F2F2;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

html {
  font-family: rmn;
  font-size: 16px;
  line-height: 1.125rem;
  scroll-behavior: smooth;
}

@media screen and (min-width: 1025px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 1441px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: #FAFAFA;
}

body {
  min-height: 300vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testitem {
  bottom: 0.625rem;
  width: 100%;
  height: 6.25rem;
  display: block;
  background-color: red;
}

.lang-select li {
  cursor: pointer;
  display: none;
}

.lang-select li.active {
  display: unset;
}

.searchbar-container {
  cursor: pointer;
}

.searchbar-container .searchbar-input-container {
  display: none;
}

.searchbar-container.active .searchbar-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-container {
  width: 100%;
  height: 123px;
  z-index: 5;
  background-color: #111111;
}

.header-container.scrolled-one {
  display: none;
  color: #fff;
  position: fixed;
}

.header-container.scrolled-one.scrolled {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-header .header-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.home-header .header-container.scrolled {
  padding: 0;
  height: 103px;
  position: fixed;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
}

@media screen and (min-width: 1025px) {
  header {
    font-size: 12px;
  }
}

@media screen and (min-width: 1441px) {
  header {
    font-size: 16px;
  }
}

header li:active {
  color: #20CF8B;
}

@media screen and (min-width: 1025px) {
  header li:hover {
    color: #20CF8B;
  }
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

*:not(.header-right-login):active > .svg path {
  stroke: #20CF8B;
}

@media screen and (min-width: 1025px) {
  *:not(.header-right-login):hover > .svg path {
    stroke: #20CF8B;
  }
}

.nav-ul-li-home:active svg path {
  fill: #20CF8B !important;
}

@media screen and (min-width: 1025px) {
  .nav-ul-li-home:hover svg path {
    fill: #20CF8B !important;
  }
}

.header-left, .header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-left .header-logo {
  margin-right: 4.375rem;
}

.header-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left ul li:not(:last-child) {
  margin-right: 3.25rem;
}

.header-left ul li.nav-ul-li-home {
  margin-right: 4.375rem;
}

.header-left ul li.active {
  position: relative;
}

.header-left ul li.active::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -24px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

@media screen and (min-width: 1025px) {
  .header-right {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
    grid-column-gap: 2.5rem;
  }
}

.header-right-bag, .header-right-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right-login {
  cursor: pointer;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.header-right-login path {
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

.header-right-login:active {
  color: #20CF8B;
}

.header-right-login:active path {
  fill: #20CF8B !important;
}

.header-right-login:hover {
  color: #20CF8B;
}

@media screen and (min-width: 1025px) {
  .header-right-login:hover path {
    fill: #20CF8B !important;
  }
}

.bag-svg, .profile-svg, .searchbar-svg {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1024px) {
  .header-left > *:not(.header-logo) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header-right > *:not(.lang-select) {
    display: none;
  }
}

.header-right-hr {
  height: 25px;
  width: 1px;
  opacity: .5;
  border-radius: 2px;
  background-color: #fff;
}

.home-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15.75rem 22.875rem minmax(calc(100vw - 16.75rem), calc(100vw - 16.75rem)) 36.75rem;
      grid-template-columns: 15.75rem 22.875rem minmax(calc(100vw - 16.75rem), calc(100vw - 16.75rem)) 36.75rem;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111111;
  overflow: hidden;
}

.mid {
  width: calc(100vw - 16.75rem);
}

.mid.scrolled {
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: none;
          transform: none;
}

.mid-container {
  height: 100%;
  font-size: 80%;
  margin-right: 12.5em;
}

@media screen and (min-width: 1800px) {
  .mid-container {
    margin-right: 18.75rem;
  }
}

.moveX {
  -webkit-transform: translateX(-22.875rem);
          transform: translateX(-22.875rem);
  -webkit-transition: -webkit-transform .8s ease-out !important;
  transition: -webkit-transform .8s ease-out !important;
  transition: transform .8s ease-out !important;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out !important;
}

.moveX.left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.moveX.right {
  -webkit-transform: translateX(-594px);
          transform: translateX(-594px);
}

.home-header-realContent {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 6rem;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-auto-rows: calc( 100vh - 7.6875rem);
  position: relative;
  height: 100%;
}

@media screen and (min-width: 1025px) {
  .home-header-realContent {
    font-size: 0.8125rem;
    margin-top: -7.6875rem;
    padding-top: 7.7875rem;
  }
}

@media screen and (min-width: 1441px) {
  .home-header-realContent {
    -ms-grid-columns: minmax(auto, 40%) minmax(1fr, 60%);
        grid-template-columns: minmax(auto, 40%) minmax(1fr, 60%);
  }
}

.home-header-realContent h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin-bottom: 2.75rem;
  min-height: 174px;
}

.home-header-realContent .realContent-textdiv {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: rmn;
  margin-bottom: 5.625rem;
}

.home-header-realContent .realContent-see-more {
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 1rem;
  line-height: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 14.3125rem;
  border-radius: 0.75rem;
  background-color: #20CF8B;
  height: 3.5rem;
  overflow: hidden;
  -webkit-transition: background-color .3s ease-out, -webkit-transform .3s ease out;
  transition: background-color .3s ease-out, -webkit-transform .3s ease out;
  transition: transform .3s ease out, background-color .3s ease-out;
  transition: transform .3s ease out, background-color .3s ease-out, -webkit-transform .3s ease out;
}

@media screen and (min-width: 1025px) {
  .home-header-realContent .realContent-see-more:hover {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
    background-color: #F2A928;
  }
}

.home-header-realContent .realContent-see-more::after {
  position: absolute;
  content: url(../images/canabis.svg);
  right: -25.8992px;
  top: 0.1062rem;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.realContent-left {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 28.4375rem;
  min-width: 28.4375rem;
  margin-right: 1.25rem;
  padding-bottom: 8.5rem;
}

.realContent-right {
  justify-self: flex-start;
  width: calc( 100% - 7.75rem);
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-radius: 50%;
  position: relative;
  background-color: #20CF8B;
}

@media screen and (min-width: 1441px) {
  .realContent-right {
    font-size: 1rem;
    width: 100%;
    max-height: 815px;
    max-width: 815px;
  }
}

.realContent-right::before {
  position: absolute;
  right: 50%;
  bottom: 50%;
  content: '';
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/canabis.svg);
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  z-index: 2;
  display: block;
  height: 50%;
  width: 50%;
}

.realContent-right::after {
  content: '';
  display: block;
  border-radius: 50%;
  padding-bottom: 100%;
}

.realContent-right .realContent-right-imageBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realContent-right .realContent-right-imageBox .inner-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.realContent-right .realContent-right-imageBox .swiper-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realContent-right .realContent-right-imageBox img {
  height: calc(440 / 815 * 100%);
  max-height: 27.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  opacity: 0;
  -webkit-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
}

.realContent-right .realContent-right-imageBox img.swiper-slide-active {
  opacity: 1;
}

.swiper-navigation-pagination {
  position: absolute;
  top: calc(100% + 3.25rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
      grid-template-columns: 1fr auto 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 18px;
  grid-column-gap: 50px;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  width: 100%;
}

.swiper-navigation-pagination .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 104px;
}

.swiper-next, .swiper-prev {
  cursor: pointer;
}

.swiper-next:hover, .swiper-prev:hover {
  color: #20CF8B;
}

.swiper-prev {
  justify-self: flex-end;
}

.swiper-pagination-bullet {
  height: 5px;
  display: block;
  background-color: #20CF8B;
  width: 22px;
  opacity: .1;
  margin: 0 4px;
  border-radius: 5px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 44px;
  max-width: 44px;
  opacity: 1;
}

.header-burgerMenu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 6.3125rem;
  margin-right: 9.4375rem;
  z-index: 6;
  overflow: hidden;
  -webkit-transition: width .8s ease-in-out;
  transition: width .8s ease-in-out;
}

.burger-icon-container {
  max-width: 6.375rem;
  min-width: 6.3125rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.0625rem solid #232323;
  position: relative;
  z-index: 1;
}

.burger-icon {
  width: 0.75rem;
  height: 2rem;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  cursor: pointer;
}

.burger-icon span {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  width: 0.125rem;
  height: 2rem;
  border-radius: 0.125rem;
  background-color: #fff;
  -webkit-transition: left .3s .3s, -webkit-transform .3s ease-in-out;
  transition: left .3s .3s, -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out, left .3s .3s;
  transition: transform .3s ease-in-out, left .3s .3s, -webkit-transform .3s ease-in-out;
}

.burger-icon span:first-child {
  left: 0;
}

.burger-icon span:last-child {
  left: calc( 100% - 0.0625rem);
}

.header-burgerMenu.active .burger-icon span {
  left: calc(50% - 0.0625rem) !important;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.header-burgerMenu.active .burger-icon span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header-burgerMenu.active .burger-icon span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-categories {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  z-index: 1;
  width: 22.875rem;
  -webkit-transition: left 1.2s ease-out;
  transition: left 1.2s ease-out;
}

.burger-cat-ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 6.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 11.25rem;
  z-index: -1;
  position: relative;
}

.burger-categories {
  position: relative;
}

.burger-categories li {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: #909090;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 1.375rem;
  line-height: 1.5625rem;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
}

.burger-categories li:not(:last-of-type) {
  margin-bottom: 1.625rem;
}

.burger-categories li a {
  white-space: nowrap;
}

.burger-categories li.active, .burger-categories li:active, .burger-categories li:hover {
  color: #fff;
}

.burger-categories li:nth-of-type(2) {
  -webkit-transition-delay: calc(.18s - .18s);
          transition-delay: calc(.18s - .18s);
}

.burger-categories li:nth-of-type(3) {
  -webkit-transition-delay: calc(.25s - .18s);
          transition-delay: calc(.25s - .18s);
}

.burger-categories li:nth-of-type(4) {
  -webkit-transition-delay: calc(.3s - .18s);
          transition-delay: calc(.3s - .18s);
}

.burger-categories li:nth-of-type(5) {
  -webkit-transition-delay: calc(.35s - .18s);
          transition-delay: calc(.35s - .18s);
}

.burger-categories li:nth-of-type(6) {
  -webkit-transition-delay: calc(.39s - .18s);
          transition-delay: calc(.39s - .18s);
}

.burger-categories li:nth-of-type(7) {
  -webkit-transition-delay: calc(.45s - .18s);
          transition-delay: calc(.45s - .18s);
}

.burger-categories li:nth-of-type(8) {
  -webkit-transition-delay: calc(.48s - .18s);
          transition-delay: calc(.48s - .18s);
}

.burger-categories li:nth-of-type(9) {
  -webkit-transition-delay: calc(.51s - .18s);
          transition-delay: calc(.51s - .18s);
}

.burger-categories li:nth-of-type(10) {
  -webkit-transition-delay: calc(.73s - .18s);
          transition-delay: calc(.73s - .18s);
}

.burger-categories li:nth-of-type(11) {
  -webkit-transition-delay: calc(.77s - .18s);
          transition-delay: calc(.77s - .18s);
}

.burger-categories li:nth-of-type(12) {
  -webkit-transition-delay: calc(.81s - .18s);
          transition-delay: calc(.81s - .18s);
}

.burger-categories li:nth-of-type(13) {
  -webkit-transition-delay: calc(.84s - .18s);
          transition-delay: calc(.84s - .18s);
}

.burger-categories li:nth-of-type(14) {
  -webkit-transition-delay: calc(.88s - .18s);
          transition-delay: calc(.88s - .18s);
}

.burger-categories li:nth-of-type(15) {
  -webkit-transition-delay: calc(.92s - .18s);
          transition-delay: calc(.92s - .18s);
}

.header-burgerMenu.active + .burger-categories {
  border-right: 0.0625rem solid black;
}

.header-burgerMenu.active + .burger-categories .burger-cat-ul li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(15) {
  -webkit-transition-delay: calc(.18s - .18s);
          transition-delay: calc(.18s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(14) {
  -webkit-transition-delay: calc(.25s - .18s);
          transition-delay: calc(.25s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(13) {
  -webkit-transition-delay: calc(.3s - .18s);
          transition-delay: calc(.3s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(12) {
  -webkit-transition-delay: calc(.35s - .18s);
          transition-delay: calc(.35s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(11) {
  -webkit-transition-delay: calc(.39s - .18s);
          transition-delay: calc(.39s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(10) {
  -webkit-transition-delay: calc(.45s - .18s);
          transition-delay: calc(.45s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(9) {
  -webkit-transition-delay: calc(.48s - .18s);
          transition-delay: calc(.48s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(8) {
  -webkit-transition-delay: calc(.51s - .18s);
          transition-delay: calc(.51s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(7) {
  -webkit-transition-delay: calc(.73s - .18s);
          transition-delay: calc(.73s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(6) {
  -webkit-transition-delay: calc(.77s - .18s);
          transition-delay: calc(.77s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(5) {
  -webkit-transition-delay: calc(.81s - .18s);
          transition-delay: calc(.81s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(4) {
  -webkit-transition-delay: calc(.84s - .18s);
          transition-delay: calc(.84s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(3) {
  -webkit-transition-delay: calc(.88s - .18s);
          transition-delay: calc(.88s - .18s);
}

.header-burgerMenu.active + .burger-categories:nth-of-type(2) {
  -webkit-transition-delay: calc(.92s - .18s);
          transition-delay: calc(.92s - .18s);
}

.realContent-left {
  height: 400px;
}

@media screen and (min-width: 1441px) {
  .realContent-left {
    height: 418px;
  }
}

.text-content {
  position: absolute;
  left: 0;
  top: 4.5rem;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.text-content a {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: 0;
  transition: 0;
}

.text-content h1, .text-content .realContent-textdiv {
  opacity: 0 !important;
  -webkit-transition: opacity .8s ease-in-out, -webkit-transform .8s ease-in-out;
  transition: opacity .8s ease-in-out, -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out, opacity .8s ease-in-out;
  transition: transform .8s ease-in-out, opacity .8s ease-in-out, -webkit-transform .8s ease-in-out;
}

.text-content.prev-slide h1, .text-content.prev-slide .realContent-textdiv {
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.text-content.next-slide h1, .text-content.next-slide .realContent-textdiv {
  -webkit-transform: translateY(60%);
          transform: translateY(60%);
}

.text-content.active {
  z-index: 2;
}

.text-content.active h1, .text-content.active .realContent-textdiv {
  opacity: 1 !important;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.text-content.active a {
  opacity: 1;
}

.scroll-down-yeah {
  position: absolute;
  top: calc(100vh - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-down-yeah p {
  display: none;
  font-family: mtavruli !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-weight: 600 !important;
  font-size: 16px;
  line-height: 18px;
}

@media screen and (min-width: 1025px) {
  .scroll-down-yeah p {
    display: block;
  }
}

.scroll-down-yeah p span {
  color: #20CF8B;
}

.scroll-bot.svg {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(32, 207, 139, 0.1);
}

@media screen and (min-width: 1025px) {
  .scroll-bot.svg {
    margin-right: 15px;
  }
}
/*# sourceMappingURL=style.css.map */